%ul#nav-meta
  - if logged_in?
    %li= link_to("Better Carbon", root_path)
    - unless current_user.email.blank?
      %li= "Logged in as #{current_user.email}"
    - else
      %li= "Logged in as #{current_user.name}"
    %li= link_to("Settings", edit_user_path(current_user))
    %li= link_to("Sign Out", logout_path)
  - else
    %li Welcome to Better Carbon!
    %li= link_to("Create an account", new_user_path)
    %li= link_to("Sign in", login_path)
    %li= authlogic_facebook_login_button(:js => :jquery, :size => :small, :v => 2)
