.wrap
  - unless flash[:notice].blank?
    %p{:style => "background-color: #c47070; font-size: 16px;text-align: center;font-weight: bold;color:#fff; margin: 10px 0; padding: 10px 0;"}= flash[:notice]
  #left_column
    #info-line
      %p Your household's <strong>carbon footprint</strong> is its total yearly greenhouse gas emissions, such as from driving your car and heating your home.
    #lookup-panel
      - form_tag result_calculator_path, :method => :get do
        %p#step-1.step
          Enter an address to view its carbon footprint
          %span#privacy-link
            (
            = link_to_function('privacy policy', '$("#privacy-policy").show();')
            )
        = text_field_tag :address, "my address, my city, my state", :onclick => '$("#calculator_input_address").select();$("#calculator_input_address").css("fontStyle", "normal");', :id => 'calculator_input_address', :style => "font-style:italic;"
        .buttons= submit_tag 'View Carbon Footprint', :class => 'action-button'
    #info-panel
      #links
        .links.sidebar_column_left
          %h3 Documentation
          %ul
            %li= link_to('What is a "carbon footprint"?', faq_path(:anchor => "carbon_footprint"))
            %li= link_to("FAQ", faq_path)
            %li= link_to("Site documentation", how_it_works_path)
            %li= link_to("About the team", 'http://www.ics.uci.edu/~wmt/socialCodeGroup/index.html')
        .links.sidebar_column_right
          %h3 Make a difference
          %ul.links
            %li= link_to("How to reduce your carbon footprint",what_i_can_do_path)
            %li= link_to("Make a pledge on PledgeBank", 'http://www.pledgebank.com/new')
  #right-panel
    - if logged_in?
      - if current_user.claimed_addresses.count > 0
        #claimed-addresses
          %h3 Claimed Addresses
          %ul
            - current_user.claimed_addresses.each do |claimed_address|
              %li= link_to(claimed_address.query.full_address, result_calculator_path(:address => claimed_address.query.full_address))
    - else
      #signup-box
        = link_to('Create an account', new_user_path, :class => 'create')
    #right-panel-blue-box
      #info
        %p{:style => "text-align:center;"} Better Carbon estimates your carbon footprint based on the footprint of your local community.
      #usa-chart
        %image{:border => "0", :src => "/charts/usa_map"}
        %image{:border => "0", :src => "/images/graph_legend_gradient1.png", :style => "padding:5px 0;"}
  = render :partial => 'privacy_policy_box'

= javascript_tag tag_suggestion_dropdown_init_js("calculator_input_tags", "calculator_input_tags-dropdown-options")