%style{:type => "text/css", :media => "screen"}
  :plain
    #footprint-breakdown {
      font-family: "verdana";
      background-color: #eeeeee;
      padding: 10px;
      clear: both;
      overflow: auto;
    }
  
    #footprint-breakdown h4 {
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 14px;
    }
  
    #footprint-breakdown ul {
      font-size:12px;
      margin:0;
      padding:0 0 0 15px;
    }
  
    #footprint-breakdown ul li {
      padding: 3px 0;
    }
  
    #footprint-breakdown .left {
      float: left;
      width: 345px;
    }
  
    #footprint-breakdown .right {
      border-left: 1px solid #cccccc;
      margin: 0 0 0 15px;
      padding: 0 0 0 10px;
      float: left;
    }

.left
  %h4= "#{@calculator_input.fb_user.name}'s Footprint Breakdown"
  %ul
    - cr_for_breakdown.per_module_results.collect do |k, v|
      %li= "#{k.pretty_module_name}: #{number_with_delimiter(number_with_precision(v[:footprint], :precision => 2))} tons of C0<sup>2</sup>/year"
.right
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=fb', :width => 380, :height => 210, :frameborder => 0