#footprint-breakdown= render(:partial => 'facebook/calculator/ht_ft_breakdown', :locals => {:cr_for_breakdown => @calculator_result, :compare_breakdown => nil})

#loading-indicator{:style => 'text-align:center;'}
  %span#loading-indicator-span{:style => 'padding: 3px 5px; color: red; font-size: 14px; font-weight: bold;'}

#infovis{:style => 'height:500px;background-color:#eeeeee;'}

:javascript
  var Log = {
      elem: false,
      write: function(text){
      }
  };

  function addEvent(obj, type, fn) {
      if (obj.addEventListener) obj.addEventListener(type, fn, false);
      else obj.attachEvent('on' + type, fn);
  };


  function init_hypertree() {
      //init data
      var json = {
          "id": "#{@facebook_session.user.uid}",
          "name": "#{@facebook_session.user.name} - #{@calculator_result.total_footprint.round}",
          "children": [#{@friends_footprints_json}],
          "data": {
            '$dim' : #{@calculator_result.total_footprint.to_i/1.5},
            '$color' : '#{CalcMath::number_to_intensity(@calculator_result.total_footprint, 0, @max)}'
          }
      };
      //end
      var infovis = document.getElementById('infovis');
      var w = infovis.offsetWidth - 50;
      var h = infovis.offsetHeight - 50;

      //init canvas
      //Create a new canvas instance.
      var canvas = new Canvas('mycanvas', {
          'injectInto': 'infovis',
          'width': w,
          'height': h
      });
      //end
      var style = document.getElementById('mycanvas').style;
      style.marginLeft = style.marginTop = "25px";
      //init Hypertree
      var rgraph = new RGraph(canvas, {
          clickedNodeId: "",
          clickedNodeName: "",
          
          levelDistance: 150,
          
          //Change node and edge styles such as
          //color, width and dimensions.
          
          Node: {
              dim: 10,
              color: "#f00",
              overridable: true
          },

          Edge: {
              lineWidth: 2,
              color: "#088"
          },
          
          //Attach event handlers and add text to the
          //labels. This method is only triggered on label
          //creation
          onCreateLabel: function(domElement, node){
            var self = this;
            domElement.innerHTML = node.name;
            
            addEvent(domElement, 'click', function() {
              self.requestGraph(node.id, function() {
                rgraph.onClick(node.id);
              });
            });
          },
          //Change node styles when labels are placed
          //or moved.
          onPlaceLabel: function(domElement, node){
              var style = domElement.style;
              style.display = '';
              style.cursor = 'pointer';
              
              style.fontFamily = "verdana";
              
              if (node._depth <= 1) {
                  style.fontSize = "0.75em";
                  style.color = "#333333";
              } else if(node._depth == 2){
                  style.fontSize = "0.6em";
                  style.color = "#333333";
              }

              var left = parseInt(style.left);
              var top = parseInt(style.top);
              var w = domElement.offsetWidth;
              style.left = (left - (w / 2)) + 'px';
          },
          
          requestGraph: function(node_id, onSuccess) {
            var that = this, id = node_id;
            
            if (node_id == "-2") {
              parent.location.href='http://apps.facebook.com/bettercarbon/invites/new' 
            }
            else {
              $('#loading-indicator-span').val('Loading');
              $.getJSON('#{url_for(:controller => 'facebook/calculator', :action => 'hypertree_subtree', :fb_sig_user => @facebook_session.user.uid, :fb_sig_session_key => params[:fb_sig_session_key], :escape => false)}' + '&node=' + id, function(data) {
                $.get('#{url_for(:controller => 'facebook/calculator', :action => 'ht_breakdown', :fb_sig_user => @facebook_session.user.uid, :fb_sig_session_key => params[:fb_sig_session_key], :escape => false)}' + '&node=' + id, function(data) {
                  $('#footprint-breakdown').slideUp('slow');
                  $('#footprint-breakdown').html(data);
                  $('#footprint-breakdown').slideDown('slow');
                });
              
                rgraph.op.morph(data, {
                  'id': id,
                  type: 'fade',
                  duration: 2000,
                  hideLabels:true,
                  onComplete: function() {
                    onSuccess();
                  }
                });
                $('#loading-indicator-span').val('&nbsp;');
              });
            }
          },
          
          onBeforeCompute: function(node) {
            this.clickedNodeId = node.id;
            this.clickedNodeName = node.name;
          },
      });

      //load JSON data.
      rgraph.loadJSON(json);
      
      //compute positions and plot.
      rgraph.refresh();
      //end
      
      rgraph.controller.onAfterCompute();
  }
  
  window.onload = function() {
    init_hypertree();
  }