%div{:id => "module-values-#{index}"}
  %h3
    = module_name.pretty_module_name
    = "(#{number_with_precision(module_values[:footprint], :precision => 2)} tons)"
  %hr
  - module_name.possible_inputs.each do |input|
    = fb_render_field_for_module_input(form, module_name.to_s.gsub(':', ''), input, module_values[input[:name].to_sym][:value], :show_value => module_values[input[:name].to_sym][:calculation] != :average)