%div{:id => "module-values-#{index}"}
  %table
    %tr.module-title
      %td{:colspan => 4}
        = module_name.pretty_module_name
        = "(#{number_with_precision(module_values[:footprint], :precision => 2)} tons)"
    %tr
      %td.param 
      %td.field Your Household
    - module_name.possible_inputs.each do |input|
      %tr.row{:class => @all_allowed_inputs.include?(input[:name].to_sym) ? 'show' :'hide'}
        %td
          %label= input[:title]
        - input_class = module_values[input[:name].to_sym][:calculation] == :average ? "estimated" : "exact"
        %td{:class => input_class}
          = render_field_for_module_input(module_name, input, module_values[input[:name].to_sym][:value], :show_value => module_values[input[:name].to_sym][:calculation] != :average)