- fb_tabs do
  = fb_tab_item "Overview (#{number_with_delimiter(number_with_precision(@calculator_result.total_footprint, :precision => 2))} tons of C02)", '/bettercarbon/calculator/overview', :selected => params[:controller] == 'facebook/calculator' && params[:action] == 'overview'
  = fb_tab_item "Friend Graph", '/bettercarbon/calculator/graph?view=fg', :selected => params[:controller] == 'facebook/calculator' && params[:action] == 'graph' && (params['view'].blank? || params['view'] == 'fg')
  / = fb_tab_item "Footprint Breakdown", '/bettercarbon/calculator/graph?view=fb', :selected => params[:controller] == 'facebook/calculator' && params['view'] == 'fb'
  = fb_tab_item "Refine Variables", '/bettercarbon/calculator/calculate_full', :align => "right", :selected => params[:action] == 'calculate_full'
  = fb_tab_item "Invite Friends", '/bettercarbon/invites/new', :align => "right", :selected => params[:controller] == 'facebook/invites'
  = fb_tab_item "Help &amp; Feedback", fb_about_url, :align => "right"
