%h2 Friends
= debug(@friends_footprints)

%h2= "Your carbon footprint is #{number_with_delimiter(number_with_precision(@calculator_result.total_footprint, :precision => 2))}"

#placeholder{:style => "width:600px;height:300px"}

= render(:partial => 'hypertree')

:javascript
  $(function () {
      var vals = [#{@gvalues.enum_with_index.collect {|v,i|"[#{i}, #{v}]"}.join(',')}];
      var labels = [#{@gkeys.enum_with_index.collect {|v,i|"[#{i+0.5}, #{v}]"}.join(',')}];
      
      $.plot($("#placeholder"), [
          {
              data: vals,
              bars: { show: true },
              color: ["#31549F"]
          }
        ],
        {
          xaxis: {
      			ticks: labels
      		}
      	}
      );
  });