= javascript_includes

- if params[:v].blank? || params[:v] == 'fg'
  = render(:partial => 'hypertree2')
- elsif params[:v] == 'bg'
  %br{:clear => 'all'}
  %br{:clear => 'all'}
  #placeholder{:style => "width:600px;height:300px"}

  :javascript
    $(function () {
        var vals = [#{@gvalues.enum_with_index.collect {|v,i|"[#{i}, #{v}]"}.join(',')}];
        var labels = [#{@gkeys.enum_with_index.collect {|v,i|"[#{i+0.5}, #{v}]"}.join(',')}];
      
        $.plot($("#placeholder"), [
            {
                data: vals,
                bars: { show: true },
                color: ["#31549F"]
            }
          ],
          {
            xaxis: {
        			ticks: labels
        		}
        	}
        );
    });
- elsif params[:v] == 'fb'
  %br{:clear => 'all'}
  %br{:clear => 'all'}
  #placeholder{:style => "width:600px;height:300px"}

  :javascript
    $(function () {
    	var data = [#{@calculator_result.per_module_results.collect{|k, v| "{label: '#{k.pretty_module_name}', data: #{v[:footprint]}}"}.join(',')}];

      $.plot($("#placeholder"), data, {
        series: {
          pie: { 
            show: true,
          }
        },
        legend: {
            show: true
        }
      });
    });