= render(:partial => 'facebook/calculator/tab_bar')

%h2{:style => 'font-size:16px; margin: 10px 0;'}= "Your carbon footprint is #{number_with_delimiter(number_with_precision(@calculator_result.total_footprint, :precision => 2))} tons of C02/year"

- if params[:view].blank? || params[:view] == 'fg'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=fg', :width => "100%", :height => 800, :frameborder => 0
- elsif params[:view] == 'bg'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=bg', :width => "100%", :height => 550, :frameborder => 0
- elsif params[:view] == 'fb'
  = fb_iframe 'http://bettercarbon.com/facebook/calculator/framed_visualization?v=fb', :width => "100%", :height => 550, :frameborder => 0
