= render(:partial => 'facebook/calculator/tab_bar')

%p{:style => 'font-size: 22px;padding: 10px;'}= "Your carbon footprint is #{number_with_delimiter(number_with_precision(@calculator_result.total_footprint, :precision => 2))} tons of C0<sup>2</sup>/year"

%p{:style => 'font-size: 22px;padding: 10px;'} Now that you've calculated your carbon footprint you can compare yourself to your friends.

%p{:style => 'padding: 5px 10px; font-size: 16px;margin:0;'}= link_to('Compare me with my friends', '/bettercarbon/invites/new')

%p{:style => 'padding: 5px 10px; font-size: 16px;margin:0;'}= link_to('Fill out a more detailed profile for more accurate results', '/bettercarbon/calculator/calculate_full')

%p{:style => 'padding: 5px 10px; font-size: 16px;margin:0;'}= link_to('Get help and give feedback', 'http://www.facebook.com/apps/application.php?api_key=1b6c0e8ecfdea2ce9091a252aa90b216')

