<h1>Listing user_xes</h1>

<table>
  <tr>
    <th>Facebook uid</th>
  </tr>

<% for user_x in @user_xes %>
  <tr>
    <td><%=h user_x.facebook_uid %></td>
    <td><%= link_to 'Show', user_x %></td>
    <td><%= link_to 'Edit', edit_user_x_path(user_x) %></td>
    <td><%= link_to 'Destroy', user_x, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_x', new_user_x_path %>
