!!! 1.1
%html{:lang => 'en' }
  %header
    - if yield(:page_title)
      %title= yield(:page_title)
    - else
      %title Better Carbon Calculator
    = render :partial => "layouts/sections/meta_tags"
    = stylesheet_includes
    = javascript_includes
    %script{:src => "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php", :type => "text/javascript"}
    = render :partial => "layouts/sections/javascripts_load"
  %body
    = fb_connect_javascript_tag
    = init_fb_connect("XFBML", :js => :jquery)
    #container
      = render(:partial => "layouts/sections/header")
      %hr{:class => "hide"}
      = render(:partial => "layouts/sections/content")
      %hr{:class => "hide"}
      = render(:partial => "layouts/sections/footer")
    = render(:partial => "layouts/sections/uservoice")