= facebook_stylesheet_includes
= facebook_javascript_includes

<fb:fbml version="1.1">
= fb_dashboard
#body= yield
= render(:partial => 'layouts/sections/google_analytics.html.erb') if Rails.env != 'development'
</fb:fbml>